@media (min-width:1025px) {
    .description {
        font-size: 1.2rem;
        padding-bottom: 20px;
    }
    
    .description-info {
        font-size: 1.1rem;
    }

    .description-info-other {
        padding-top: 25px;
        font-size: 1rem;
    }
}

@media (max-width:1024px) {
    .description {
        font-size: 1rem;
        padding-bottom: 40px;
    }
    
    .description-info {
        font-size: 1rem;
    }

    .description-info-other {
        padding-top: 25px;
        font-size: 0.9rem;
    }
}

.table-heading {
    font-weight: bold;
}

.team-captain {
    color: var(--text-colour);
}